.navbar { display: flex;
}


ul { list-style-type: none; 
margin: 0;
background-color: rgb(60, 60, 60); 
width: 100vw;
display: flex;
flex-direction: row;
justify-content: center;


}

li { padding: 20px;
font-size: 20px; }


li a { text-decoration: none; 
color: white;
}

li a:hover { color: teal; }


