* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 800px;
}

#button { background-color: steelblue;
  justify-content: center;
  color: white;
  padding: 15px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border-bottom: solid darkslateblue 5px;
  
  
}

#button:hover {
  background-color: dodgerblue;
  border-bottom: none;
  
}